@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Dosis:wght@300&display=swap');

:root {
    --primario: #8B48BF;
    --colorSecundario: #232C50;
    --colorTercero: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro';
}

html {
    max-width: 1440px;
}

/*************estilos header*************************************/
header {
    display: flex;
    justify-content: space-between;
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 65px;
    padding-bottom: 65px;
}

.menuHamburguesa {
    display: none;
}

header ul {
    display: flex;
    align-items: center;
}

.menuHeader li {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    padding: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
}

.botonContact {
    border-radius: 25px;
    background-color: var(--primario);
    border: none;
    cursor: pointer;
    width: 110px;
    height: 34px;
    left: 397px;
    top: 1340px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}

/*************estilos body***************************************/

/****************seccion banner**********************/

.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 100px;
    margin-left: 96px;
    margin-right: 110px;
    margin-top: 100px;

}

/*.fotoPadding {
    width: 540px;
    height: 461.07px;

}*/

article.textoBanner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 28px;
    text-align: right;


}

.textoBanner h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 114.6%;
    letter-spacing: -0.035em;
    padding-left: 112px;
    color: var(--colorSecundario);


}

.textoBanner h3 {

    font-style: normal;
    font-weight: 500;
    font-size: 16.56px;
    line-height: 157.1%;
    letter-spacing: -0.03em;
    padding-left: 110px;


}



/*****************seccion seccion1********************************/

.seccion1 {
    margin-top: 150px;
    display: flex;
    background-color: var(--primario);
    color: var(--colorTercero);
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

.derecha {

    font-weight: 700;
    font-size: 30px;
    Line-height: 41.26px;
    margin-left: 220px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 50px;
    width: 450px;
    height: 88px;
}

.izquierda {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 151.1%;
    width: 450px;
    height: 88px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 220px;
    margin-left: 50px;

}



/**********************seccion2*******************************************/

.seccion2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 0px;
    gap: 24px;
    left: -1px;
    top: 985px;
    background: var(--colorTercero);
    justify-content: center;
}



.seccion2 article {
    width: 38%;

}

.articulo {
    margin-left: 30px;
}

.seccion2 button {
    background-color: var(--primario);
    border-radius: 30px;
    color: white;
    width: 69px;
    height: 43px;
    border: none;
}

.articuloParrafo {
    padding-left: 92px;
    color: #B3B2B7;
    font-style: normal;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
}

.articuloTitulo {
    padding-left: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: var(#232C50);
}

/*****************seccion3********************************************/


.seccion3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloSeccion3 {
    font-style: normal;
    font-weight: 700;
    font-size: 39.2143px;
    line-height: 156.6%;
    text-align: center;
    letter-spacing: -0.01em;
    color: var(#232C50);
    margin-top: 97px;
    margin-bottom: 74px;

}

.contenedorCard {
    display: flex;
    margin-left: 52px;
    margin-right: 71px;
    justify-content: space-between;


}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-style: normal;
    gap: 21px;
    background: var(--colorTercero);
}

.contenedorCard {
    display: flex;
    margin-top: 74px;
}



.card h4 {
    font-weight: 700;
    color: var(#232C50);
    font-size: 16.0714px;
    line-height: 156.6%;
    text-align: center;
}

.card p {
    font-weight: 500;
    font-size: 16px;
    line-height: 156.6%;
    padding-left: 21px;
    padding-right: 21px;
    color: #B9B9C1;
    text-align: center;
}

.botonMore {
    text-align: center;
    justify-content: center;
    margin-top: 45px;
    padding: 10px;
    gap: 10px;
    background: rgba(139, 72, 191, 0.7);
    border-radius: 50px;
    border: none;
    width: 134px;
    height: 44px;
    left: 653px;
    top: 1944px;
}

/****seccion4**********/

.seccion4 {
    display: flex;
    justify-content: space-between;
    background-color: var(--primario);
    color: white;
    margin-top: 180px;

}

.seccion4 button {
    background: var(#FFFFFF);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 134px;
    height: 44px;
    margin-right: 210px;
    margin-top: 90px;
    margin-bottom: 90px;
}

.seccion4 h2 {
    margin-left: 165px;
    margin-top: 64px;
    margin-bottom: 64px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    width: 500px;
    height: 96px;
    letter-spacing: -0.005em;
}

/**********estilos footer************************************/

footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap ;
    background-color: var(--colorSecundario);
    color: white;
    position: relative;
    
 }

.logoFooter {
    color: var(--colorTercero);
    /*margin-left: 193px;*/
}

footer li {
    list-style-type: none;
    padding: 5px;


}
.navFooter{
display: flex;
justify-content: space-between;
gap: 219px;
margin-top: 64.93px;

}
.listaIconos {
    display: inline-flex;
}

footer article {
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 9px;
}

.navFooter{
    margin-left: 171px;
}

form{ 
    margin:167.8px ;
}
input {
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 201px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 50px;
}

.botonGo {
    background-color: var(--primario);
    border-radius: 50px;
    color: white;
    width: 69px;
    height: 43px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 13.1806px;
    line-height: 19px;
    align-items: center;
    color: #FFFFFF;

}


/*** @media***************/

@media screen and (max-width: 480px) {

    header {
        justify-content: space-between;
        padding: 0;
        margin: 56.32px;
    }

    .menuHamburguesa {
        display: block;
    }

    header ul {
        display: none;
    }

    header .botonContact {
        display: none;
    }


    .banner {
        flex-direction: column;
        margin: 40px;
        padding-left: 0;
    }

    .textoBanner {
        padding-left: 0;
    }

    .fotoPadding {
        width: 400px;
        height: 341.53px;
    }

    .seccion1 {
        flex-direction: column;
        background-color: #3CDDF3;
        justify-content: space-between;

        align-self: stretch;
    }

    .derecha {
        margin-left: 5px;

    }

    .seccion2 {
        margin-top: 65px;
        flex-direction: column;
    }

    .contenedorCard {
        flex-direction: column;
    }

    .card:nth-child(1) {
        display: none;
    }

    .card:nth-child(3) {
        display: none;
    }

    .footer {
        flex-direction: column;

    }

    .seccion4 {
        flex-direction: column;
        padding: 0;
        background-color: #3CDDF3;
    }

    .seccion4 h2 {
        align-items: center;
        margin: 40px;
        padding: 0;
    }

    .seccion4 button {
        background-color: var(--colorSecundario);
        text-align: center;
        margin-top: 40px;
        color: #FFFFFF;
    }
    

}