@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Dosis:wght@300&display=swap');

:root {
    --primario: #8B48BF;
    --colorSecundario: #232C50;
    --colorTercero: #FFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro';
    font-size: 16px;
    font-style: normal;
}

li:hover {
    cursor: pointer;

}

button:hover {
    cursor: pointer;
}

html {
    max-width: 1440px;
}

/*************estilos header*************************************/
header {
    display: flex;
    justify-content: space-between;
    padding: 65px 165px;
}


header nav ul {
    display: flex;
    align-items: center;
}
    
.menuHamburguesa {
    display: none;
}

header nav ul li {
    list-style-type: none;
    display: inline-flex;
    padding: 5px;
    font-weight: 500;
    font-size: 13px;
    color: #242E52;
    line-height: 19px;
}

.botonContact {
    border-radius: 25px;
    background-color: var(--primario);
    border: none;
    width: 110px;
    color: var(--colorTercero);
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}



/****************seccion banner**********************/

.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 100px;
    margin-left: 96px;
    margin-right: 110px;
    margin-top: 100px;

}

article.textoBanner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 28px;
    text-align: right;
}

.textoBanner h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 114.6%;
    letter-spacing: -0.035em;
    padding-left: 112px;
    color: var(--colorSecundario);


}

.textoBanner h3 {

    font-style: normal;
    font-weight: 500;
    font-size: 16.56px;
    line-height: 157.1%;
    letter-spacing: -0.03em;
    padding-left: 110px;
    color: #000;


}



/*****************seccion seccion1********************************/

.seccion1 {
    margin-top: 86px;
    display: flex;
    background-color: var(--primario);
    color: var(--colorTercero);
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

.derecha {
    font-weight: 700;
    font-size: 30px;
    Line-height: 41.26px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 450px;
    margin-left: 220px;
}

.izquierda {
    font-style: normal;
    font-weight: 500;
    line-height: 151.1%;
    width: 450px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 220px;
}

.izquierda2{display:none;}

/**********************seccion2*******************************************/

.seccion2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 0px;
    gap: 23px;
    background: var(--colorTercero);
    justify-content: center;
}

.seccion2 article {
    width: 38%;
}

.articulo {
    margin-left: 30px;
}

.seccion2 button {
    background-color: var(--primario);
    border-radius: 30px;
    color: white;
    width: 69px;
    border: none;
    padding: 10px 25px;
}

.articuloParrafo {
    padding-left: 92px;
    color: #B3B2B7;
    font-style: normal;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
}

.articuloTitulo {
    padding-left: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: var(#232C50);
}

/*****************seccion3********************************************/


.seccion3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloSeccion3 {
    font-style: normal;
    font-weight: 700;
    font-size: 39.2143px;
    line-height: 156.6%;
    text-align: center;
    letter-spacing: -0.01em;
    color: var(#232C50);
    margin-top: 97px;
    margin-bottom: 74px;

}

.contenedorCard {
    display: flex;
    margin-left: 52px;
    margin-right: 71px;
    justify-content: space-between;


}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-style: normal;
    gap: 21px;
    background: var(--colorTercero);
    
}

.contenedorCard {
    display: flex;
    margin-top: 74px;
}

.card div{
    background-color: #fafafa;
    margin-top: 35px;
}

.fotoCard{position: absolute;}

.card h4 {
    font-weight: 700;
    color: var(#232C50);
    font-size: 16.0714px;
    line-height: 156.6%;
    text-align: center;
    margin-top: 55px;
}

.card p {
    font-weight: 500;
    font-size: 16px;
    line-height: 156.6%;
    padding-left: 21px;
    padding-right: 21px;
    color: #B9B9C1;
    text-align: center;
}

.botonMore {
    text-align: center;
    justify-content: center;
    margin-top: 45px;
    padding: 10px;
    gap: 10px;
    background: rgba(139, 72, 191, 0.7);
    border-radius: 50px;
    border: none;
    width: 134px;
    height: 44px;
    left: 653px;
    top: 1944px;
    color: var(--colorTercero);
}

/****seccion4**********/

.seccion4 {
    display: flex;
    justify-content: space-between;
    background-color: var(--primario);
    color: white;
    margin-top: 180px;
    align-items: center;
}

.seccion4 button {
    background-color: var(--colorTercero);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-bottom: none;
    border-radius: 50px;
    width: 134px;
    margin-right: 210px;
    padding: 10px;
}

.seccion4 h2 {
    margin-left: 165px;
    margin-top: 64px;
    margin-bottom: 64px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    width: 500px;
    letter-spacing: -0.005em;
}

/**********estilos footer************************************/

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #1E1E26;
    color: white;
    padding-bottom: 43px;
    position: relative;
    align-items: center;

}

.logos {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-left: 170px;
    gap: 55px;
    margin-top: 74px;
}

.logoFooter {
    color: var(--colorTercero);
    padding: 0;
}

.listaIconos {
    display: inline-flex;
}



.listaFooter {
    display: flex;
    margin-top: 74px;
    gap: 200px;
    align-items: center;
}

footer li {
    list-style-type: none;
    padding: 5px;
}

.formulario {
    /*formulario*/
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
    padding: 0px;
    gap: 9px;
    margin-top: 74px;
}

form {
    padding-right: 164.79px;
    padding-left: 87px;
}

fieldset {
    border: none;
    display: flex;
}

input {
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 201px;
    background: var(--colorTercero);
    border-radius: 50px;
    font-size: 13.18px;
}

.botonGo {
    background-color: var(--primario);
    border-radius: 50px;
    color: var(--colorTercero);
    width: 69px;
    height: 43px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 13.18px;
    line-height: 19px;
    align-items: center;
    color: #FFFFFF;

}

.copyright {
    padding-left: 1000px;
    color:  #8C8C94;
}

/******************************************* @media***************/

@media screen and (max-width: 480px) {

    /***media header**/
    header {
        justify-content: space-between;
        padding: 0;
        margin: 56.32px;
    }

    .menuHamburguesa {
        display: block;
    }

    header ul {
        display: none;
    }

    header .botonContact {
        display: none;
    }

    /***** media banner*****/
    .banner {
        flex-direction: column;
        margin: 40px;
        padding-left: 0;
    }

    .textoBanner h1 {
        padding-left: 0;
    }

    .fotoPadding {
        width: 400px;
        height: 341.53px;
    }


    /** media seccion1**/
    .seccion1 {
        flex-direction: column;
        background-color: #3CDDF3;
        justify-content: center;
        padding: 40px 20px;
        margin: 0;
        gap: 50px;
    }

    .derecha {
        margin: 0;
        width: 440px;
        align-self: stretch;
        line-height: 114.6%;
    }

    .izquierda{display: none;}

    .izquierda2{
        display:block;
        margin:0;
        width:440px;
       /* margin: 0 20px 40px 0px ;*/
    }

   
    /**** media seccion2***/
    .seccion2 {
        margin-top: 65px;
        flex-direction: column;
    }

    .seccion2 article {
        width: 100%;
    }


    .articuloParrafo {
        padding-left: 34px;
        margin-right: 28px;
        margin-top: 31px;
    }

    .fondoTitulo {
        background-color: rgba(139, 72, 191, 0.3);
        border-radius: 50px;
        margin-left: 34px;
    }

       .contenedorCard {
        flex-direction: column;
    }

    .card:nth-child(1) {
        display: none;
    }

    .card:nth-child(3) {
        display: none;
    }
    /*****seccion3 *****/
    .seccion3{padding-bottom: 40px;}


    /*** media seccion4******/
    .seccion4 {
        flex-direction: column;
        padding: 0;
        margin:0;
        background-color: #3CDDF3;
        justify-content: center;
        gap: 50px;  
        padding:0 0 40px 0;
        }

    .seccion4 h2 {
        align-items: center;
       /* margin-left: 40px;*/
        padding: 0;
        margin:40px 0 0 0;
        width:324px;
        text-align: center; }

    .seccion4 button {
        background-color: var(--colorSecundario);
        text-align: center;
        margin: 0px;
        color: #FFFFFF;
    }


    /*** media footer**/
    .footer {
        flex-direction: column;

    }

    fieldset {
        margin-top: 52.26px;
        padding-left: 60px;
    }

    .listaFooter {
        order: 1;
        padding-left: 0;
        margin: 0;
    }


    .listaIconos li {
        padding-right: 69.83px;
        margin-left: 0;
    }

    .logoFooter {
        order: 3;
        margin-left: 0;
        padding-left: 0;
        width: 100px
    }

    .logos {
        flex-direction: column-reverse;
        order: 2;
        padding: 0;
        align-content: flex-start;

    }

    .copyright {
        order: 3;
        padding: 0;
    }

    .menuHeader {
        display: none;
    }

}